<div class="game-message stats-container" *ngIf="didWin || didLose">
    <div *ngIf="didWin">
        <p>Congratulations, you Won!</p>
        <p *ngIf="winStreak > 1"> You're on a {{ winStreak }} game win streak.</p>
    </div>
    
    
    <div *ngIf="didLose">
        <p>Sorry, better luck next time!</p>
    </div>

    <button (click)="startNewGame()">Start New Game</button>
</div>

<div class="career-stats stats-container">
    <h2>Your Career</h2>
    <ul>
        <li>Wins : {{ wins }}</li>
        <li>Losses : {{ losses }}</li>
        <li>Winning Percentage : {{ winRate | percent }}</li>
        <li>Win Streak : {{ winStreak }}</li>
        <li>Best Win Streak : {{ bestWinStreak }}</li>
    </ul>

</div>

<!--  -->
<div class="career-stats stats-container">

    <h2>Guess Distribution</h2>
    <ol>
        <li class="flex " *ngFor="let guessCount of guessDistribution; let g = index">
            <div>{{ g + 1}}</div>
            <div class="distribution-container">
                <div 
                    [ngClass]="{ 'filled' : fillBars }"
                    class="distribution-percentage gdg-{{g}}" 
                    [ngStyle]="{ 'width' :  getGuessDistributionPct(guessCount) | percent }" 
                    
                >
                </div>
                <div class="count">{{ guessCount }}</div>
            </div>
        </li>
    </ol>
</div>
