$key-width: 30px
$key-height: $key-width *2

.keyboard-outer 
    margin-top: 40px

    .keyboard-row
        margin-bottom: 4px
        .board-key
            margin-right: 4px
            .keyboard-button
                width: $key-width
                height: $key-height
                line-height: $key-height
                color: black
                border: 1px solid #ccc
                cursor: pointer
                transition: 1s background-color  ease-in-out
                transition-delay: 2s     

                &.yellow-bg, &.green-bg, &.dark-grey-bg 
                    color: white
                &.action-button
                    width: $key-width * 2

