/* You can add global styles to this file, and also import other style files */


// variables
$light-grey: #f3f3f3
$dark-grey: #6a6a6a

$yellow: #dfe302
$green: #2dd902

// mixins


// styling classes
    // layout
.flex
    display: flex

.flex-center
    justify-content: center

.flex-end
    justify-content: flex-end

.flex-start
    justify-content: start

    // color

.light-grey-bg 
    background: $light-grey

.dark-grey-bg 
    background: $dark-grey

.yellow-bg 
    background: $yellow


.green-bg 
    background: $green


