/* You can add global styles to this file, and also import other style files */


// variables
$grey: #aaa
$yellow: #eaff03
$green: #35ff03

// mixins


// styling classes
    // layout
.flex
    display: flex

    // color

.grey-bg 
    background: $grey


.yellow-bg 
    background: $yellow


.green-bg 
    background: $green
